---
const { title, description } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <base target="_blank" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://raviqqe.com" />
    <meta property="og:image" content="https://raviqqe.com/icon.svg" />
    <meta property="og:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="canonical" href={canonicalUrl} />
    <script
      defer
      data-domain="raviqqe.com"
      src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;700&display=swap");

  :root {
    --pitch-black-color: black;
    --black-color: #333;
    --gray-color: #666;
    --red-color: #d00;
    --white-color: #fdfdfd;

    --background-color: var(--white-color);
    --text-color: var(--black-color);

    --dark-background-color: var(--pitch-black-color);
    --dark-text-color: var(--white-color);

    --monospace-font-family: monospace;

    font:
      16px "Noto Sans",
      sans-serif;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 42rem;
    margin: 0 auto;
    padding: 1rem 1.2rem;
  }

  a,
  a:visited {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
  }

  a:hover {
    text-decoration-thickness: 0.2rem;
  }

  code {
    font-family: var(--monospace-font-family);
  }
</style>
